<h1>Job Tracker</h1>

<h3>Jobs by Interest</h3>
<% @job_interests.each do |key, value| %>
  <p><%= '*'*key %>(<%= value %> jobs)</p>
<% end %>

<h3>Top Companies by Interest</h3>
<% @top_companies.each do |company| %>
  <h5><%= company.name %> (<%= company.avg_interest.round(1) %> stars)</h5>
<% end %>
