<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "main" %>
</head>
<body>
  <div class='centered'
    <header>
      <h2><strong>Edit <%= @job.title %> here!</strong></h2>
    </header>
    <%= render partial: "form" %>
  </div>
 </body>
</html>