<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class='centered'>
    <header>
      <h2><strong>Add Category</strong></h2>
    </header>
    <%= render partial: "form" %>
  </div>
</body>
</html>