<!DOCTYPE html>
<head>
  <h2>Category: <%= @category.title %></h2>
</head>
<body>
  <% @category.jobs.each do |job| %>
    <ul><%= link_to job.title, job_path(job) %> at <%= job.company.name %></ul>
  <% end %>
</body>
